/* Input, Select, Textarea */
.section__input {
	display: flex;
	flex-grow: 1;
	width: 277px;
	padding: 20px;
	background: #E5E5E5;
	border: 2px solid #f09c01;
	outline: none;
	font-size: 14px;
	color: #333;

	@media (max-width: 1530px) {
		width: 240px;
	}
	@media (max-width: 800px) {
		width: 100%;
		margin-bottom: 10px;
	}
}

.section__input + .section__input,
.section__input + .section__select {
	margin-left: 10px;
	@media (max-width: 800px) {
		margin-left: 0;
	}
}

.section__select {
	position: relative;
	border: 3px solid #f09c01;
	text-align: center;
	@media (max-width: 800px) {
		width: 100%;
		margin-bottom: 10px;
	}
	&.active {
		.select__body {
			display: block;
			animation: opacity 0.5s ease;
			opacity: 1;
		}
	}
	.select__header {
		padding: 20px;
		background: #fff;
		border: none;
		outline: none;
		font-size: 14px;
		text-align: center;
		color: #333;
		position: relative;
		cursor: pointer;
		@media (max-width: 1530px) {
			width: 240px;
		}
		@media (max-width: 800px) {
			width: 100%;
		}
	}

	.select__current {
		color: #333;
		opacity: 0.8;
		text-align: center;
	}

	.select__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-left: auto;
		text-align: center;

		.select__image {
			opacity: 0.5;
			transition: transform 0.2s ease-in;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			&.showed {
				transform: rotate(90deg);
			}
			&::before {
				content: "\f107";
			}
		}
	}

	.select__body {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 110%;
		background: #fff;
		border: 1px solid #f09c01;
		opacity: 0;
		z-index: 1;
	}
	.select__item {
		font-size: 14px;
		padding: 20px;
		cursor: pointer;
		&:hover {
			background:#f09c01;
			color: #fff;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #f09c01;
		}
	}
}